<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autókereskedés - Kapcsolatok</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Üdvözöljük az Autókereskedésben</h1>
    <nav>
      <ul>
        <li><a href="/">Főoldal</a></li>
        <li><a href="/contact">Kapcsolatok</a></li>
        <li><a href="/gallery">Galéria</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Kapcsolatok</h2>
    <p>Itt találhatók az elérhetőségeink. <br>
        Telefon: +36701234567 <br> 
        E-mail: kereskedes@kereskedes.com</p>
  </main>
</body>
</html>
