<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autókereskedés - Főoldal</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Üdvözöljük az Autókereskedésben</h1>
    <nav>
      <ul>
        <li><a href="/">Főoldal</a></li>
        <li><a href="/contact">Kapcsolatok</a></li>
        <li><a href="/gallery">Galéria</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Főoldal</h2>
    <p>Üdvözöljük az autókereskedésünk honlapján!

    <h3>Bemutatkozás</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolor vero cupiditate sit ea? Atque soluta maiores, ipsum, deleniti qui saepe rerum sit, cupiditate porro delectus non error modi consequuntur accusantium numquam culpa nostrum quibusdam obcaecati quia illo rem neque nisi. Ex fugiat accusamus minima. Quia possimus voluptates nihil repudiandae sapiente.</p>
    </p>

  </main>

</body>
</html>
